<h2>Edit <%= resource_name.to_s.humanize %> 🖌</h2>

<div class="container">
  <div class="all-edit">
    <div class="form-inputs">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
      <div class="input-edit">
        <%= f.input :email, required: true, autofocus: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <div class="input-edit">
        <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
      </div>
      <div class="input-edit">
        <%= f.input :password_confirmation, required: false %>
      </div>
      <div class="input-edit">
      <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
      </div>


    <div class="form-actions">
      <div class= "submit-edit">
        <%= f.button :submit, "Update" %>
      </div>
    </div>

    <h3>Cancel my account</h3>

    <p>Unhappy? 😿 <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>
</div>

<% end %>
