<h1> The meals index of today </h1>
<% @meals.each do |meal| %>
  <br>
  <%= meal.name %>
  <%= meal.description %>
  <%= meal.date %>
  <%= meal.stock %>
  <%= meal.user.name %>
  <%= link_to "Voir ce meal", meal_path(meal) %>
<% end %>





