<h1>Add your new meal</h1>
<%= link_to "Click here to add a new meal", meals_path, class: "btn btn-primary btn-lg my-btn" %>
<br>
<%= @meal.name %>
<%= @meal.description %>
<%= @meal.date %>
<%= @meal.stock %>
<%= @meal.user %>

<%= simple_form_for(@meal) do |f| %>
  <%= f.input :user %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :calories %>
  <%= f.input :price %>
  <%= f.input :date %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.button :submit %>
<% end %>
