<h1>Add your new meal</h1>
<%= link_to "Click here to add a new meal", meals_path, class: "btn btn-primary btn-lg my-btn" %>
<br>
<%= @meal.name %>
<%= @meal.description %>
<%= @meal.date %>
<%= @meal.stock %>
<%= @meal.user %>
