<h1>Add a new meal</h1>

<div class="container">
  <div class="all-edit">
    <%= simple_form_for(@meal) do |f| %>
      <div class="form-inputs">
        <div class="input-edit">
          <%= f.input :name %>
        </div>
        <div class="input-edit">
          <%= f.input :stock %>
        </div>
        <div class="input-edit">
          <%= f.input :description %>
        </div>
        <div class="input-edit">
          <%= f.input :calories %>
        </div>
        <div class="input-edit">
          <%= f.input :price %>
        </div>
        <div class="input-edit">
          <%= f.input :date %>
        </div>
        <div class="input-edit">
          <%= f.input :photo %>
        </div>
        <div class="input-edit">
          <%= f.input :photo_cache, as: :hidden %>
        </div>
      </div>
      <div class="form-actions">
        <div class= "submit-edit">
          <%= f.button :submit %>
        </div>
      </div>
    <% end %>
  </div>
</div>





