<h1> Your meal </h1>
<%= link_to "Click here to come back to the precedent page", meals_path, class: "btn btn-primary btn-lg my-btn" %>


<%= link_to "Create an order", new_order_path, class: "btn btn-primary btn-lg my-btn" %>

<br>
<%= @meal.name %>
<%= @meal.description %>
<%= @meal.date %>
<%= @meal.stock %>
<%= @meal.user.name %>




